/*------------------------------------*\
    IMPORT FRAMEWORK
\*------------------------------------*/
@import "../framework/build";
@import "../framework/core/reset";


/*------------------------------------*\
    ADD SOME GLOBAL STYLES
\*------------------------------------*/
html {
	width: 100%;
	height: 100%;
	font-size: $base-font-size;
}

body {
	font-family: $base-font-family;
	min-width: $site-min-width;
	min-height: 100%;

	@include font-size($base-font-size, true);
}

img {
	display: block;
	max-width: 100%;
}

a[href^="mailto"] {
	@include word-wrap();
}

.wrapper {
	min-width: $site-min-width;
	max-width: $site-max-width;
	margin: 0 auto;
	padding: 0 $gutter;
	position: relative;
}

.clear {

	&:after,
	&:before {
		content: "";
		clear: both;
		display: block;
	}
}

/*------------------------------------*\
    PRINT MEDIA QUERIES

    Print media query keys as a sudo of body.
    This will allow JS to accurately determine
    what breakpoint we're at rather than doing 
    nasty sniffs 👍
\*------------------------------------*/
body {
    &:before {
        display: none;
        content: "palm";

        @include media-query("portable-and-up") {
            content: "portable-and-up";
        }

        @include media-query("lap-and-up") {
            content: "lap-and-up";
        }

        @include media-query("desk") {
            content: "desk";
        }

        @include media-query("desk-wide") {
            content: "desk-wide";
        }
    }
}



/*------------------------------------*\
    DECLARATIONS
\*------------------------------------*/
$output-mode: "global";

/*------------------------------------*\
    IMPORTS
\*------------------------------------*/
@import "imports/mixins";
@import "imports/helpers";
@import "imports/components";
@import "imports/layouts";
@import "imports/third-party";

// Z-index rules
@import "z-index";

// Import the shame
@import "shame";
