html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dd, header, nav, article, section,
aside, figure, figcaption, footer, dl, dd, dt {
	margin: 0px;
	padding: 0px;
}

html {
	// Hide persistent scrollbar in IE (10/11) and Edge
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
	text-rendering: optimizeLegibility;
}

ul, ol {
	list-style: none;
}

img {
	border: 0;
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

// Firefox input fix
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}


// Box sizing border box FTW!
*, *:before, *:after {
	box-sizing: border-box;
}