{% extends "layout/base.html" %}

{% block content %}
	
	<div class="chunk chunk--treble">
		<div class="wrapper">
			<h2>{{ project_settings.name }} - Home</h2>
			<p>Your project is ready to go!</p>
			<p>You can update this file in <b>{your directory}/front-end/templates/index.html</b></p>
		</div>
	</div>

{% endblock %}